---
import { ViewTransitions } from 'astro:transitions';
import {getAlternateLinks} from '../i18n/utils';

interface HeaderProps {
  title: string;
  locale?: string;
}

const {title, locale = 'fr'} = Astro.props as HeaderProps;
const currentPath = Astro.url.pathname;
const {alternates} = getAlternateLinks(currentPath, locale);
---

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{title}</title>
  <ViewTransitions />

  <!-- SEO Language alternates -->
  <link rel="alternate" hreflang="fr" href={`https://mehdirhifar.com${alternates.fr}`}/>
  <link rel="alternate" hreflang="en" href={`https://mehdirhifar.com${alternates.en}`}/>
  <link rel="alternate" hreflang="x-default" href={`https://mehdirhifar.com${alternates.fr}`}/>

  <meta content={title} property="og:title" />
  <meta content={title} property="twitter:title" />
  <meta property="og:locale" content={locale === 'fr' ? 'fr_FR' : 'en_US'}/>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/assets/variables.css" rel="stylesheet" type="text/css" />
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href="/assets/color-enhancements.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/" rel="p. econnect" />
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="anonymous" />
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif]-->
  <script type="text/javascript">
    !(function (o, c) {
      var n = c.documentElement,
        t = " w-mod-";
      (n.className += t + "js"), ("ontouchstart" in o || (o.DocumentTouch && c instanceof DocumentTouch)) && (n.className += t + "touch");
    })(window, document);
  </script>
  <link href="/assets/logo.svg" rel="icon" type="image/svg+xml" />
  <link href="/assets/logo.svg" rel="apple-touch-icon" />
</head>
